@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: #f8f6f0;
    color: #2e2f2b;
  }
  h1, h2, h3, .brand-font {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .kinetic-gradient {
    background: linear-gradient(135deg, #735800 0%, #fbc51f 100%);
  }
  .path-animated {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear infinite;
  }
}
